# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
vector_db/

# Environment variables
.env
.env.production

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Node (frontend)
node_modules/
frontend/node_modules/
frontend/dist/

# Temporary files
*.tmp
*.temp

#backend
backend/data

#terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup